body {
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 8px 2px rgba(0, 1, 1, 0.2);
}
.main-navigation {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 1200px;
  height: 56px;
}
.main-navigation a {
  color: #000000;
}
.main-navigation li {
  min-width: 239px;
}
.main-navigation li:nth-child(3) {
  flex-grow: 1;
}
.logo {
  padding-top: 22px;
}
.photo-frame {
  background-image: url("../img/background-photo-1-3.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 717px;
}
.main-photo {
  text-align: center;
  padding-top: 76px;
}
.frame {
  height: 58px;
  position: relative;
  left: -1px;
  padding-top: 22px;
}
.main-slogan {
  background-color: #ffffff;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slogan {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  width: 440px;
}
.slogan-reasons {
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
.features,
.features-2 {
  height: 256px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features {
  background-color: #81b3d2;
}
.features-2 {
  background-color: #eeeeee;
}
.features h3,
.features-2 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  width: 140px;
}
.features h3 {
  color: #ffffff;
}
.features-2 h3 {
  color: #000000;
}
.features p,
.features-2 p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  width: 280px;
  padding-left: 60px;
  padding-right: 60px;
}
.features p {
  color: #ffffff;
}
.features-stroke:nth-of-type(3) .features h3 {
  width: 160px;
}
.features-stroke:nth-of-type(3) .features p {
  width: 303px;
}
.features-2 p {
  color: #333333;
}
.features-2:first-of-type p {
  width: 208px;
}
.features-2:nth-of-type(2) p {
  width: 270px;
}
.features-2:last-of-type p {
  width: 256px;
}
.recommendations {
  background-color: #ffffff;
  height: 330px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.recommendations h3 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 10px;
}
.recommendations p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  width: 252px;
  padding-bottom: 71px;
}
.recommendations:nth-of-type(2) p {
  width: 285px;
}
.recommendations:last-of-type p {
  width: 273px;
}
.recommendations img {
  text-align: center;
  padding-top: 60px;
}
.features-stroke {
  display: flex;
  height: 256px;
}
.features-stroke:nth-of-type(2) {
  height: 330px;
}

.booking {
  height: 291px;
}
form {
  text-align: center;
}
.booking h3 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 57px;
  padding-bottom: 12px;
}
.booking p {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  width: 434px;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 383px;
  padding-left: 383px;
}
.booking .search {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
  width: 568px;
  height: 86px;
  border: none;
  margin-right: 316px;
  margin-left: 316px;
  margin-top: 52px;
}
.booking-form {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}
.booking-form input {
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
}
.booking-form .search-button {
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  background-color: #ffffff;
  opacity: 90%;
  margin-top: -120px;
  z-index: 1;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  background-color: #ffffff;
  opacity: 90%;
}
.contacts-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contacts-phone p {
  font-size: 20px;
  line-height: 7px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}
.hashtag {
  margin-top: 36px;
}
.phone {
  margin-bottom: 32px;
}
.contacts-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-social a {
  content: "";
  margin-left: 6px;
  width: 46px;
  height: 48px;
}
.twitter {
  background: #81b3d2 url("../img/tw-icon.svg") no-repeat center;
}
.facebook {
  background: #81b3d2 url("../img/fb-icon.svg") no-repeat center;
}
.youtube {
  background: #81b3d2 url("../img/youtube.svg") no-repeat center;
}
.contacts-creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-creator p {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.contacts-creator a {
  padding-right: 8px;
}

/* вторая страница */

.search-filter {
  background-color: #5d7284;
  background-image: url("../img/filter-background-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 217px;
}
.filter {
  display: flex;
  margin-left: 32px;
  padding-top: 17px;
}
.filter ul {
  width: 214px;
}
.infrastructure li,
.house-type li {
  list-style: none;
  text-align: left;
  height: 30px;
  margin-bottom: 14px;
  position: relative;
}
.filter p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
.infrastructure label,
.house-type label {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: 6px;
  left: 40px;
}
.infrastructure input,
.house-type input {
  display: none;
}
.filter-range {
  padding-left: 265px;
  padding-top: 14px;
  color: #ffffff;
  text-transform: uppercase;
  width: 316px;
}
.filter-range-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 9px;
}
.filter-range-price {
  position: relative;
  height: 36px;
  font-size: 0;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.filter-range-price label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.filter-range-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 22px;
  width: 2px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.filter-range-price .min-price,
.filter-range-price .max-price {
  width: 90px;
}
.filter-range-price .min-price {
  padding-left:  32px;
}
.filter-range-price .max-price {
  padding-left: 55px;
}
.filter-range-price input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .line-1 {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .line-2 {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-controls .slider-1,
.range-controls .slider-2 {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-controls .slider-1:hover,
.range-controls .slider-2:hover {
  background: #1c4f80;
}
.range-controls .slider-1 {
  left: 0;
}
.range-controls .slider-2 {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sort {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 86px;
}
.sort p {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 49px;
  padding-right: 7px;
}
.sort h3 {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  padding-left: 72px;
}
.sort div {
  padding-left: 33px;
}
.price-button {
  color: #81b3d2;
}
.sort button {
  font-size: 12px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}
.type-button button,
.rating-button button {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  padding: 0;
}
.button-up {
  color: #cacaca;
}
.button-down {
  color: #81b3d2;
}
.sort .up-down-buttons {
  padding-left: 6px;
  margin-left: 466px;
}
.hotels-list {
  list-style: none;
  text-transform: uppercase;
  width: 1200px;
  margin-left: -40px;
  margin-top: 0;
}
.hotels-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 151px;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}
.hotels-list li:first-child {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}
.list-photo {
  padding-left: 72px;
}
.hotel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 90px;
  margin-right: 522px;
  margin-top: -13px;
}
.hotel-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
}
.hotel-info p {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
}
.hotel-type,
.hotel-price {
  display: block;
  margin-left: 6px;
}
.button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.detail {
  background-color: #81b3d2;
  padding: 3px 17px;
}
.book {
  background-color: #766357;
  padding: 4px 16px;
}
.hotel-name {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
}
.hotel-type p,
.hotel-price p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}
.rating-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
  margin-right: 73px;
}
.stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 110px;
}
.stars img {
  padding-right: 5px;
}
.rating {
  color: #666666;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
}
