body {
  padding: 0;
  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 1, 1, 0.2);
  box-shadow: 0 0 8px 2px rgba(0, 1, 1, 0.2);
  position: relative;
}
.header {
  max-width: 1200px;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.main-navigation {
  padding: 0;
  margin: 0;
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: black;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 478px;
}
.logo {
  position: absolute;
  top: 0;
  left: 599px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 1;
}
.header > a {
  position: absolute;
  top: 0;
  left: 599px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.main-navigation a {
  color: #000000;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation li {
  width: 239px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-navigation:first-of-type li {
  text-align: left;
  padding-left: 72px;
}
.main-navigation:last-of-type li {
  text-align: right;
  padding-right: 72px;
}
.main-navigation:first-of-type li:last-of-type {
  padding-left: 73px;
}
.main-navigation:last-of-type li:first-of-type {
  padding-right: 73px;
}
.main-navigation .page-map-state {
  width: 90px;
  letter-spacing: 0.4px;
}
.active-page:visited {
  color: #766357;
}
.not-active-page:hover {
  color: #81b3d2;
}
.not-active-page:active {
  color: rgba(0, 0, 0, 0.3);
}
.photo-frame {
  background-color: #99a3ae;
  background-image: url("../img/background-photo-1-3.jpg");
  background-repeat: no-repeat;
  background-position: 0 -84px;
  height: 724px;
  position: relative;
}
.main-photo {
  text-align: center;
  top: 76px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  position: absolute;
}
.frame {
  height: 59px;
  width: 1200px;
  position: absolute;
  top: 451px;
  background: url("../img/showcase-shape.png") no-repeat center;
}
.main-slogan {
  position: absolute;
  top: 508px;
  left: 0;
  width: 1200px;
  background-color: #ffffff;
  height: 216px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slogan {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
  letter-spacing: 0.2px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.slogan-reasons {
  color: #333333;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-top: 12px;
}
.features-stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-stroke:nth-of-type(2) {
  min-height: 330px;
}
.features-block,
.features-block-2 {
  width: 400px;
  min-height: 256px;
}
.features-block {
  background-color: #81b3d2;
}
.features-block-2 {
  background-color: #eeeeee;
}
.features,
.features-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 256px;
}
.features-picture {
  width: 800px;
  height: 256px;
}
.features h3,
.features-2 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  width: 140px;
}
.features:last-of-type h3 {
  width: 180px;
}
.features h3 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
}
.features-2 h3 {
  color: #000000;
  margin-top: 0;
  margin-bottom: 22px;
}
.features p,
.features-2 p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
.features-stroke:first-of-type  p:last-of-type {
  max-width: 300px;
  margin-top: 21px;
}
.features-stroke:nth-of-type(3)  p:last-of-type {
  max-width: 320px;
  margin-top: 20px;
  margin-bottom: 12px;
}
.features-block-2 p:last-of-type {
  max-width: 280px;
  margin-bottom: 12px;
  margin-top: 22px;
}
.features-block-2:last-of-type  p {
  max-width: 255px;
}
.features .number-features::before,
.features-2 .number-features::before {
  content: "";
  height: 1px;
  width: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.features .number-features::after,
.features-2 .number-features::after {
  content: "";
  height: 1px;
  width: 9px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}
.features .number-features::before,
.features .number-features::after {
  background-color: #ffffff;
  opacity: 0.9;
}
.features-2 .number-features::before,
.features-2 .number-features::after {
  background-color: #000000;
  opacity: 0.6;
}
.features p {
  color: #ffffff;
}
.features-2 p {
  color: #333333;
}
.number-features {
  margin: 0;
}
.recommendations-block {
  background-color: #ffffff;
  width: 400px;
  position: relative;
}
.recommendations {
  min-height: 192px;
  width: 400px;
  position: absolute;
  top: 56px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.recommendations h3 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  margin-top: 4px;
}
.recommendations p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.recommendations-block:first-of-type p {
  max-width: 285px;
}
.recommendations-block:nth-of-type(2) p {
  max-width: 305px;
}
.recommendations-block:last-of-type p {
  max-width: 310px;
}
.recommendations .icon-house {
  width: 75px;
  height: 72px;
  margin-top: 4px;
  background: url("../img/icon-1.svg") no-repeat center;
}
.recommendations .icon-burger {
  width: 74px;
  height: 70px;
  margin-top: 6px;
  background: url("../img/icon-3.svg") no-repeat center;
}
.recommendations .icon-gift {
  width: 64px;
  height: 76px;
  background: url("../img/icon-2.svg") no-repeat center;
}
.booking {
  width: 1200px;
  height: 291px;
  position: relative;
}
.booking-hotel {
  position: absolute;
  top: 50px;
  left: 0;
  height: 241px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.booking .search {
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  padding: 29px 139px 31px 139px;
  cursor: pointer;
}
.search:hover {
  background-color: #604e43;
}
.search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
form {
  text-align: center;
}
.form {
  position: absolute;
  top: 291px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 568px;
  height: 395px;
}
.form-hidden {
  display: none;
}
.booking h3 {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.booking p {
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: -20px;
}
.booking-form label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.booking-form {
  width: 568px;
  height: 395px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  padding: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}
.booking-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.date-field {
  position: relative;
}
.date {
  height: 38px;
  width: 334px;
  padding-left: 12px;
  margin-left: 17px;
}
.calendar {
  position: absolute;
  height: 38px;
  width: 38px;
  background: transparent;
  border:none;
  padding: 0;
  top: 0;
  left: 418px;
  cursor: pointer;
}
.calendar::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  height: 22px;
  width: 22px;
  background: url("../img/calendar-grey.png") no-repeat center;
}
.calendar:hover::before {
  background: url("../img/calendar-black.png") no-repeat center;
}
.calendar:active::before {
  background: url("../img/calendar-blue.png") no-repeat center;
}
.number-people button {
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.minus::before {
  content: "";
  height: 3px;
  width: 10px;
  background: #aaaaaa;
  position: absolute;
  top: 18px;
  left: 13px;
}
.plus::before {
  content: "";
  height: 3px;
  width: 11px;
  background: #aaaaaa;
  position: absolute;
  top: 18px;
  left: 13px;
}
.plus::after {
  content: "";
  height: 11px;
  width: 3px;
  background: #aaaaaa;
  position: absolute;
  top: 14px;
  left: 17px;
}
.plus-adults {
  margin-right: 53px;
}
.minus-adults {
  margin-left: 41px;
}
.plus-kids {
  margin-right: 0;
}
.minus-kids {
  margin-left: 26px;
}
.minus:hover::before,
.plus:hover::before,
.plus:hover::after {
  background: #000000;
}
.minus:active::before,
.plus:active::before,
.plus:active::after {
  background: #81b3d2;
}
.booking-form input {
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.number-people input {
  width: 12px;
  height: 14px;
  padding: 12px 13px;
}
.date:hover,
.number-people input:hover {
  background-color: #ebebeb;
}
.date:focus,
.number-people input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}
.booking-form .search-button {
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 196px 17px 196px;
  margin-top: 24px;
  cursor: pointer;
}
.booking-form .search-button:hover {
  background-color: #669ec0;
}
.booking-form .search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.map {
  width: 1200px;
  height: 593px;
}
/*футер*/
.main-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer {
  height: 120px;
  background-color: rgba(255,255,255,.9);
}
.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 967px;
  margin-left: 132px;
  height: 120px;
}
.contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}
.hashtag {
  margin-top: 33px;
  margin-bottom: 6px;
}
.phone {
  color: #000000;
  margin-bottom: 36px;
  margin-top: 0;
}
.contacts-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2px;
}
.contacts-social a {
  content: "";
  margin-left: 6px;
  width: 46px;
  height: 48px;
}
.twitter {
  background: #81b3d2 url("../img/tw-icon-white.svg") no-repeat center;
}
.facebook {
  background: #81b3d2 url("../img/fb-icon-white.svg") no-repeat center;
}
.youtube {
  background: #81b3d2 url("../img/youtube-white.svg") no-repeat center;
}
.twitter:hover {
  background: #669ec0 url("../img/tw-icon-white.svg") no-repeat center;
}
.facebook:hover {
  background: #669ec0 url("../img/fb-icon-white.svg") no-repeat center;
}
.youtube:hover {
  background: #669ec0 url("../img/youtube-white.svg") no-repeat center;
}
.twitter:active {
  background: #5496bd url("../img/tw-grey.svg") no-repeat center;
}
.facebook:active {
  background: #5496bd url("../img/fb-grey.svg") no-repeat center;
}
.youtube:active {
  background: #5496bd url("../img/youtube-grey.svg") no-repeat center;
}
.contacts-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 32px;
  margin-bottom: 2px;
}
.contacts-creator p {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
.html-logo {
  margin-left: 8px;
  height: 41px;
  width: 115px;
  background: url("../img/logo-htmla.png") no-repeat center;
}
.html-logo:hover {
  background: url("../img/logo-name-blue.png") no-repeat center;
}
.html-logo:active {
  background: url("../img/logo-name-grey.png") no-repeat center;
}
/* вторая страница */
.search-filter {
  background-color: #5d7284;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 218px;
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 72px 0 72px;
  padding-top: 28px;
}
.filter ul {
  width: 255px;
  padding: 0;
}
.infrastructure li,
.house-type li {
  list-style: none;
  text-align: left;
  height: 30px;
  margin-bottom: 16px;
  position: relative;
}
.filter p {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: left;
  margin: 0 0 24px 0;
}
.infrastructure label,
.house-type label {
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}
.house-type label {
  padding-left: 42px;
}
.checkbox-label::before {
  content: "";
  background: url("../img/checkbox-off.svg") no-repeat top left;
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
}
.infrastructure input,
.house-type input {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  padding: 0;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.house-type input:checked~.checkbox-label::before,
.infrastructure input:checked~.checkbox-label::before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 27px 23px;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
}
.filter-range {
  padding-left: 228px;
  color: #ffffff;
  text-transform: uppercase;
  width: 318px;
}
.filter-range-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 9px;
  margin-left: 1px;
}
.filter-range-price {
  position: relative;
  height: 34px;
  font-size: 0;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.filter-range-price label {
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  vertical-align: top;
  cursor: pointer;
}
.filter-range-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 22px;
  width: 2px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.filter-range-price .min-price,
.filter-range-price .max-price {
  width: 90px;
}
.filter-range-price .min-price {
  padding-left:  33px;
}
.filter-range-price .max-price {
  padding-left: 58px;
}
.filter-range-price input {
  width: 50px;
  margin: 0;
  color: inherit;
  background: none;
  border: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .line-1 {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .line-2 {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-controls .slider-1,
.range-controls .slider-2 {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-controls .slider-1:hover,
.range-controls .slider-2:hover {
  background: #1c4f80;
  width: 5px;
  height: 5px;
  -webkit-transform: translate(-0.5px, -0.5px);
  -ms-transform: translate(-0.5px, -0.5px);
  transform: translate(-0.5px, -0.5px);
}
.range-controls .slider-1 {
  left: 0;
}
.range-controls .slider-2 {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 97px 0 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
  height: 86px;
}
.sort div {

}
.sort p {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 47px;
  padding-right: 7px;
}
.sort h3 {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  padding-left: 72px;
}
.price-button {
  color: #81b3d2;
  padding-left: 33px;
}
.type-button {
  padding-left: 27px;
}
.rating-button {
  padding-left: 34px;
}
.sort button {
  font-size: 12px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.type-button button,
.rating-button button {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  padding: 0;
}
.type-button button:hover,
.rating-button button:hover {
  color: #81b3d2;
}
.type-button button:active,
.rating-button button:active {
  color: #000000;
}
.sort .up-down-buttons {
  padding-left: 7px;
  margin-left: 496px;
}
.button-up {
  background-image: url("../img/icon-up-grey.png");
  background-repeat: no-repeat;
  height: 11px;
  width: 10px;
}
.button-down {
  background-image: url("../img/icon-down-grey.png");
  background-repeat: no-repeat;
  height: 11px;
  width: 10px;
  margin-left: 6px;
}
.button-up:hover {
  background-image: url("../img/icon-up-dir.svg");
}
.button-down:hover {
  background-image: url("../img/icon-down-dir.svg");
}
.button-up:active,
.button-up:visited {
  background-image: url("../img/icon-up-blue.png");
}
.button-down:active,
.button-down:visited {
  background-image: url("../img/icon-down-blue.png");
}
.hotels-list {
  list-style: none;
  text-transform: uppercase;
  width: 1200px;
  margin: 0;
  padding: 0;
}
.hotels-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  width: 1200px;
  height: 94px;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
  padding: 25px 0 31px 0;
}
.hotels-list li:first-child {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}
.list-photo {
  padding-left: 72px;
  padding-top: 5px;
  height: 94px;
}
.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 896px;
  margin-left: 24px;
  height: 96px;
}
.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hotel-info p {
  margin: 0;
  padding-top: 2px;
}
.hotel-type p {
  padding-bottom: 15px;
}
.hotel-price p {
  padding-bottom: 13px;
}
.hotel-type,
.hotel-price {
  display: block;
  margin-left: 6px;
  height: 64px;
}
.button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.detail {
  background-color: #81b3d2;
  padding: 3px 17px 5px 17px;
}
.detail:hover {
  background-color: #669ec0;
}
.detail:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.book {
  background-color: #766357;
  padding: 4px 18px 6px 16px;
}
.book:hover {
  background-color: #604e43;
}
.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.hotel-name {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-left: 6px;
  cursor: pointer;
  letter-spacing: 0.2px;
}
.hotel-name:hover {
  color: #81b3d2;
}
.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.hotel-type p,
.hotel-price p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
}
.rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 90px;
  margin-top: 4px;
}
.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 90px;
}
.stars div {
  width: 18px;
  height: 17px;
  background: url("../img/star.svg") no-repeat center;
}
.stars div:not(:last-child) {
  margin-right: 6px;
}
.rating {
  color: #666666;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding: 3px 12px 3px 16px;
}
